name: Build

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: 0 0 * * 5

jobs:
  plugin_test:
    name: asdf plugin test
    strategy:
      matrix:
        php-version:
          - '7.4'
          - '8.0'
          - latest
    runs-on: macos-latest
    steps:
      - name: Update Homebrew
        run: brew update
      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v4
        with:
          command: php --version
          version: ${{ matrix.php-version }}
